bin/
*.idea
*.ipr
*.iml
*.eml
*.iws
*.log
.project
.settings
.classpath
target/
.springBeans
.DS_Store
*/test-output/**
*/target/**
rebel.xml
.rebel.xml.bak
logs
*.MF
.svn/
*.log
*.epoch
*.lck
/resources/static